<!-- this is an AngularJS View Template -->
<!-- it is necessary to create a module into which we place our ng-app -->
<html ng-app="TemperatureConverter">

<head>
    <title>Temperature Converter</title>
     <!-- from Google Hosted Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"></script>
        <script lang="javascript">
        
        var myModule = angular.module('TemperatureConverter', []);
        
        myModule.controller('TempConverter', 
        
            function ($scope) {
             
                var tc = this;
                
                tc.inputTempValue = 0;
                
        
                tc.farenheit = function addFaren()
                {
                    tc.converted = (tc.inputTempValue * 9.0) / 5.0 + 32;
                }
                
                tc.celcius = function addCelcius()
                {
                    tc.converted = (tc.inputTempValue - 32) * 5.0 / 9.0;
                }
            } 
        
        );
    </script>

</head>

<body>
    <div ng-controller="TempConverter as tc"> 

        <p>
            Input Tempurature: <input type="text" ng-model="tc.inputTempValue" />
        </p>
        <br/>


        <button ng-click="tc.farenheit()">Convert C to F</button>
        <button ng-click="tc.celcius()">Convert F to C</button>
        <br/>

        <p>Your Temperature is: {{tc.converted | number:2}}</p>
    </div>
  </body>

</html>